@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Inter", "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gridBackground {
  background: #121212;
  background-image: linear-gradient(
      rgba(51, 51, 51, 1) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(51, 51, 51, 1) 0.1em, transparent 0.1em);
  background-size: 5em 5em;
  background-position: center;
  font-size: calc(0.4934210526315789vw + 0.506578947368421em);
}
