@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Chillax";
  src: url("../assets/fonts/Chillax-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chillax";
  src: url("../assets/fonts/Chillax-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chillax {
  font-family: Chillax, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid;
  @apply border-grey-200 !important;
  border-radius: 2px;
  @apply bg-grey-200 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-grey-500 !important;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-grey-600 !important;
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  @apply bg-purple-main !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-grey-200 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  @apply bg-grey-200 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-red-main !important;
}

.gridBackground {
  background: #121212;
  background-image: linear-gradient(
      rgba(51, 51, 51, 1) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(51, 51, 51, 1) 0.1em, transparent 0.1em);
  background-size: 5em 5em;
  background-position: center;
  font-size: calc(0.4934210526315789vw + 0.506578947368421em);
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #a3a3a3;
}
.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, #a3a3a3 0%, #fcfcfc88 50%, #a3a3a3 100%);
  animation: shimmer 1.5s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
